* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

html body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  line-height: 1em;
  font-family: Arial;
}

html body a {
  color: #FF6600;
  text-decoration: none;
}

html body h1 {
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1.2em;
}

html body h2 {
  font-size: 1.8em;
  font-weight: normal;
  line-height: 1.2em;
  clear: left;
}

html body table {
  border-spacing: 0;
}

html body form fieldset {
  border: 0;
}

html body table tr td {
  padding-bottom: 20px;
}

html body form input[type="text"] {
  padding: 5px;
  border: 1px solid #479b97;
  font-size: 1.2em;
}

html body form input[type="submit"] {
  padding: 10px 0;
  font-size: 1.2em;
  color: #ffffff;
  border: 0;
  background-color: #ff6900;
}

html body header {
  height: 50px;
  width: 420px;
  background-color: #479b97;
}

html body header a {
  background: #479b97 url('../imgs/logo.jpg') 0 0 no-repeat;
  margin: 0 auto;
  width: 196px;
  height: 50px;
  display: block;
}

html body header a h1 em {
  display: none;
}

html body section {
  font-size: 14px;
}

html body .content {
  width: 400px;
  padding: 20px 10px 0 10px;
}

html body .content form {
  padding-top: 20px;
}

html body .content form fieldset td {
  width: 100%;
}

html body .content form fieldset td input[type="submit"] {
  width: 100%;
}

/* donate */

html body .content section.donate {
  width: 400px;
  margin: 0 auto;
}

html body .content section.donate h2 span {
  font-weight: bold;
}

/* signin - signup */

html body .content section.signin-signup {
  width: 400px;
  margin: 0 auto;
}

html body .content section.signin-signup h2 span {
  font-weight: bold;
}

html body .content section.signin-signup a.facebook,
html body .content section.signin-signup a.twitter,
html body .content section.signin-signup a.linkedin,
html body .content section.signin-signup a.openid {
  width: 150px;
  height: 22px;
  display: block;
  margin: 0 10px 10px 0;
  float: left;
}

html body .content section.signin-signup a.facebook {
  background: #ffffff url('../imgs/facebook.jpg') 0 0 no-repeat;

}

html body .content section.signin-signup a.twitter {
  background: #ffffff url('../imgs/twitter.jpg') 0 0 no-repeat;
}

html body .content section.signin-signup a.linkedin {
  background: #ffffff url('../imgs/linkedin.jpg') 0 0 no-repeat;
}

html body .content section.signin-signup a.openid {
  background: #ffffff url('../imgs/openid.jpg') 0 0 no-repeat;
  margin: 0 10px 50px 0;
}

html body .content section.signin-signup .signin_show_box,
html body .content section.signin-signup .signup_show_box {
  display: none;
  float: left;
}

html body .content section.signin-signup .active {
  display: block;
}

html body .content section.signin-signup .menu {
  margin-bottom: 20px;
  float: right;
}

html body .content section.signin-signup .menu a {
  float: left;
  margin-right: 10px;
}

html body .content section.signin-signup .menu a.active {
  text-decoration: underline;
}