<!DOCTYPE html>
<html>
<head>
  <title>SunnyKarma</title>
  <link href='css/wix_widget.css' media='screen' rel='stylesheet'>

  <script type="text/javascript" src="http://sslstatic.wix.com/services/js-sdk/1.24.0/js/Wix.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="js/wix_widget.js"></script>
</head>
<body>
  <header>
    <a class="logo" href="#">
      <h1><em>SunnyKarma</em></h1>
    </a>
  </header>
  <div class="content">
    <section class="donate">
      <h2>Make a donation for: <span>Philippine</span> </h2>
      <form method="POST">
        <fieldset style="border-color: grey;">
          <table>
            <tr>
              <td>Donation amount:</td>
              <td>
                <input type="text" name="amount" placeholder="$"/>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <input type="submit" value="Donate Now"/>
              </td>
            </tr>
          </table>
        </fieldset>
      </form>
    </section>
  </div>
</body>
</html>