<!DOCTYPE html>
<html>
<head>
  <title>SunnyKarma</title>
  <link href='css/wix_widget.css' media='screen' rel='stylesheet'>

  <script type="text/javascript" src="http://sslstatic.wix.com/services/js-sdk/1.24.0/js/Wix.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="js/wix_widget.js"></script>
</head>
<body>
  <header>
    <a class="logo" href="#">
      <h1><em>SunnyKarma</em></h1>
    </a>
  </header>
  <div class="content">
    <section class="signin-signup">
      <div class="menu">
        <a class="signin_show active" href="#">Signin</a>
        <a class="signup_show" href="#">Signup</a>
        <a class="skip" href="#">Skip</a>
      </div>
      <div class="signin_show_box active">
        <h2>Signin</h2>
        <form class="signin" method="POST">
          <fieldset style="border-color: grey;">
            <table>
              <tr>
                <td>Email:</td>
                <td>
                  <input type="text" name="email"/>
                </td>
              </tr>
              <tr>
                <td>Password:</td>
                <td>
                  <input type="text" name="password"/>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input type="submit" value="Signin"/>
                </td>
              </tr>
            </table>
          </fieldset>
        </form>
        <a class="facebook" href="#"></a>
        <a class="twitter" href="#"></a>
        <a class="linkedin" href="#"></a>
        <a class="openid" href="#"></a>
      </div>
      <div class="signup_show_box">
        <h2>Signup</h2>
        <form class="signup" method="POST">
          <fieldset style="border-color: grey;">
            <table>
              <tr>
                <td>Username:</td>
                <td>
                  <input type="text" name="username"/>
                </td>
              </tr>
              <tr>
                <td>Email:</td>
                <td>
                  <input type="text" name="email"/>
                </td>
              </tr>
              <tr>
                <td>Zipcode:</td>
                <td>
                  <input type="text" name="zipcode"/>
                </td>
              </tr>
              <tr>
                <td>Password:</td>
                <td>
                  <input type="text" name="password"/>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input type="submit" value="Signup"/>
                </td>
              </tr>
            </table>
          </fieldset>
        </form>
      </div>
    </section>
  </div>
</body>
</html>